In [30]:
import pandas as pd

year = '2023'
rosters = pd.read_parquet(f'./data/inputs/rosters/roster_weekly_{year}.parquet')

In [12]:
rosters.loc[(rosters['team'] == 'NYJ') & (rosters['position'] == 'QB') & (rosters['status'] == 'ACT')].sort_values(by='week', ascending=True)[['week', 'team', 'position', 'full_name', 'gsis_id']]

       week team position       full_name     gsis_id
29        1  NYJ       QB   Aaron Rodgers  00-0023459
29144     1  NYJ       QB     Zach Wilson  00-0037013
29150     2  NYJ       QB     Zach Wilson  00-0037013
10108     2  NYJ       QB       Tim Boyle  00-0034177
10111     3  NYJ       QB       Tim Boyle  00-0034177
29153     3  NYJ       QB     Zach Wilson  00-0037013
10117     4  NYJ       QB       Tim Boyle  00-0034177
29145     4  NYJ       QB     Zach Wilson  00-0037013
29146     5  NYJ       QB     Zach Wilson  00-0037013
10109     5  NYJ       QB       Tim Boyle  00-0034177
10106     6  NYJ       QB       Tim Boyle  00-0034177
29151     6  NYJ       QB     Zach Wilson  00-0037013
29152     8  NYJ       QB     Zach Wilson  00-0037013
10110     8  NYJ       QB       Tim Boyle  00-0034177
10119     9  NYJ       QB       Tim Boyle  00-0034177
29147     9  NYJ       QB     Zach Wilson  00-0037013
10122    10  NYJ       QB       Tim Boyle  00-0034177
29149    10  NYJ       QB     Zach Wilson  00-0037013
10114    11  NYJ       QB       Tim Boyle  00-0034177
29137    11  NYJ       QB     Zach Wilson  00-0037013
4175     12  NYJ       QB  Trevor Siemian  00-0032156
10118    12  NYJ       QB       Tim Boyle  00-0034177
4173     13  NYJ       QB  Trevor Siemian  00-0032156
10107    13  NYJ       QB       Tim Boyle  00-0034177
4177     14  NYJ       QB  Trevor Siemian  00-0032156
29148    14  NYJ       QB     Zach Wilson  00-0037013
4179     15  NYJ       QB  Trevor Siemian  00-0032156
29139    15  NYJ       QB     Zach Wilson  00-0037013
14115    16  NYJ       QB    Brett Rypien  00-0034955
4180     16  NYJ       QB  Trevor Siemian  00-0032156
14117    17  NYJ       QB    Brett Rypien  00-0034955
4172     17  NYJ       QB  Trevor Siemian  00-0032156
4170     18  NYJ       QB  Trevor Siemian  00-0032156
14107    18  NYJ       QB    Brett Rypien  00-0034955

In [48]:
pbp = pd.read_parquet('./data/outputs/play_by_play_agg/play_by_play_agg.parquet')

In [49]:
pbp['week'] = pbp['game_id'].str.split('_').str[1]

In [54]:
# filter down to active players for each game
active_roster = rosters.loc[rosters['status'] == 'ACT'].copy()

In [55]:
# ensure week is an int
active_roster['week'] = active_roster.week.astype(int, copy=False)

In [47]:
active_roster[['season', 'team', 'position', 'status', 'full_name', 'birth_date', 'height', 'weight', 'gsis_id', 'week', 'game_type', 'entry_year', 'draft_club', 'draft_number']]

,season,team,position,depth_chart_position,jersey_number,status,full_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,year
4,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
5,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
6,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
7,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
8,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45538,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023
45539,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023
45540,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023
45541,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023
45542,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023

In [60]:
pbp_src = pd.read_parquet('data/inputs/play_by_play/play_by_play_2023.parquet')
pbp_src

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,None,None,None,...,0.0,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,0.0,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,0.0,1.0,-0.336103,NaN,NaN,NaN,NaN,NaN,0.515058,-51.505846
3,77.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,0.0,1.0,0.703308,0.340652,3.328642,1.0,0.996628,0.583928,0.661106,33.889407
4,102.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,0.0,1.0,0.469799,NaN,NaN,NaN,NaN,NaN,0.196065,-19.606467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49660,4791.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,1.728891,NaN,NaN,NaN,NaN,NaN,0.182589,81.741054
49661,4813.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,-0.330699,NaN,NaN,NaN,NaN,NaN,0.310144,-31.014398
49662,4835.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,-0.637115,1.315985,6.498790,6.0,0.428395,0.361828,0.600400,39.959973
49663,4860.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,3.102806,1.780787,0.772520,1.0,0.993362,0.784198,0.623245,37.675518
49664,4881.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
pbp_src['injury_flag'] = pbp_src['desc'].str.contains('hurt|injured', case=False, na=False)

In [71]:
injury_plays = pbp_src[pbp_src['injury_flag']]

In [78]:
injury_pattern = r'(?P<team>[A-Z]+)-(?P<number>\d+)-(?P<name>[A-Za-z\'\.\-]+) was hurt on the play'

# Create new columns for team, number, and name by extracting the matching pattern
pbp_src[['injury_team', 'injury_number', 'injury_name']] = pbp_src['desc'].str.extract(injury_pattern)
pbp_src
# Flag rows where an injury was detected
pbp_src['injury_flag'] = pbp_src['injury_team'].notnull()

# Display the rows with detected injuries and the extracted information
injury_plays = pbp_src[pbp_src['injury_flag']][['desc', 'injury_team', 'injury_number', 'injury_name']]

injury_plays

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe,injury_flag,injury_team,injury_number,injury_name
0,1.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
1,39.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
2,55.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,NaN,NaN,NaN,NaN,0.515058,-51.505846,False,NaN,NaN,NaN
3,77.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,3.328642,1.0,0.996628,0.583928,0.661106,33.889407,False,NaN,NaN,NaN
4,102.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,NaN,NaN,NaN,NaN,0.196065,-19.606467,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49660,4791.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,NaN,NaN,NaN,NaN,0.182589,81.741054,False,NaN,NaN,NaN
49661,4813.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,NaN,NaN,NaN,NaN,0.310144,-31.014398,False,NaN,NaN,NaN
49662,4835.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,6.498790,6.0,0.428395,0.361828,0.600400,39.959973,False,NaN,NaN,NaN
49663,4860.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.772520,1.0,0.993362,0.784198,0.623245,37.675518,False,NaN,NaN,NaN
49664,4881.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN