In [82]:
import pandas as pd

year = '2023'
rosters = pd.read_parquet(f'./data/inputs/rosters/roster_weekly_{year}.parquet')
pbp_src

In [98]:
pbp_src

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,None,None,None,...,0.0,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,0.0,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,0.0,1.0,-0.336103,NaN,NaN,NaN,NaN,NaN,0.515058,-51.505846
3,77.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,0.0,1.0,0.703308,0.340652,3.328642,1.0,0.996628,0.583928,0.661106,33.889407
4,102.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,0.0,1.0,0.469799,NaN,NaN,NaN,NaN,NaN,0.196065,-19.606467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49660,4791.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,1.728891,NaN,NaN,NaN,NaN,NaN,0.182589,81.741054
49661,4813.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,-0.330699,NaN,NaN,NaN,NaN,NaN,0.310144,-31.014398
49662,4835.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,-0.637115,1.315985,6.498790,6.0,0.428395,0.361828,0.600400,39.959973
49663,4860.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,3.102806,1.780787,0.772520,1.0,0.993362,0.784198,0.623245,37.675518
49664,4881.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
rosters['game_id'] = rosters['team'] + rosters['']

,season,team,position,depth_chart_position,jersey_number,status,full_name,first_name,last_name,birth_date,...,game_type,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number
0,2023,PHI,OL,T,74.0,CUT,Bernard Williams,Bernard,Williams,None,...,REG,W03,Bernard,WIL148626,17623,32005749-4c14-8626-f883-08eba7248da6,1994,1994.0,PHI,14.0
1,2023,SEA,OL,T,70.0,DEV,Jason Peters,Jason,Peters,1982-01-22,...,REG,P07,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN
2,2023,SEA,OL,T,70.0,DEV,Jason Peters,Jason,Peters,1982-01-22,...,REG,P07,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN
3,2023,SEA,OL,T,70.0,INA,Jason Peters,Jason,Peters,1982-01-22,...,REG,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN
4,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,REG,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45650,2023,DEN,LB,LB,NaN,DEV,Durell Nchami,Durell,Nchami,None,...,REG,P01,Durell,NCH415291,57034,None,2023,2023.0,None,NaN
45651,2023,DEN,LB,LB,NaN,DEV,Durell Nchami,Durell,Nchami,None,...,REG,P01,Durell,None,57034,None,2023,2023.0,None,NaN
45652,2023,DEN,LB,LB,NaN,DEV,Durell Nchami,Durell,Nchami,None,...,REG,P01,Durell,NCH415291,57034,None,2023,2023.0,None,NaN
45653,2023,DEN,LB,LB,NaN,DEV,Durell Nchami,Durell,Nchami,None,...,REG,P01,Durell,NCH415291,57034,None,2023,2023.0,None,NaN
45654,2023,DEN,LB,LB,NaN,DEV,Durell Nchami,Durell,Nchami,None,...,REG,P01,Durell,NCH415291,57034,None,2023,2023.0,None,NaN

In [12]:
rosters.loc[(rosters['team'] == 'NYJ') & (rosters['position'] == 'QB') & (rosters['status'] == 'ACT')].sort_values(by='week', ascending=True)[['week', 'team', 'position', 'full_name', 'gsis_id']]

       week team position       full_name     gsis_id
29        1  NYJ       QB   Aaron Rodgers  00-0023459
29144     1  NYJ       QB     Zach Wilson  00-0037013
29150     2  NYJ       QB     Zach Wilson  00-0037013
10108     2  NYJ       QB       Tim Boyle  00-0034177
10111     3  NYJ       QB       Tim Boyle  00-0034177
29153     3  NYJ       QB     Zach Wilson  00-0037013
10117     4  NYJ       QB       Tim Boyle  00-0034177
29145     4  NYJ       QB     Zach Wilson  00-0037013
29146     5  NYJ       QB     Zach Wilson  00-0037013
10109     5  NYJ       QB       Tim Boyle  00-0034177
10106     6  NYJ       QB       Tim Boyle  00-0034177
29151     6  NYJ       QB     Zach Wilson  00-0037013
29152     8  NYJ       QB     Zach Wilson  00-0037013
10110     8  NYJ       QB       Tim Boyle  00-0034177
10119     9  NYJ       QB       Tim Boyle  00-0034177
29147     9  NYJ       QB     Zach Wilson  00-0037013
10122    10  NYJ       QB       Tim Boyle  00-0034177
29149    10  NYJ       QB     Zach Wilson  00-0037013
10114    11  NYJ       QB       Tim Boyle  00-0034177
29137    11  NYJ       QB     Zach Wilson  00-0037013
4175     12  NYJ       QB  Trevor Siemian  00-0032156
10118    12  NYJ       QB       Tim Boyle  00-0034177
4173     13  NYJ       QB  Trevor Siemian  00-0032156
10107    13  NYJ       QB       Tim Boyle  00-0034177
4177     14  NYJ       QB  Trevor Siemian  00-0032156
29148    14  NYJ       QB     Zach Wilson  00-0037013
4179     15  NYJ       QB  Trevor Siemian  00-0032156
29139    15  NYJ       QB     Zach Wilson  00-0037013
14115    16  NYJ       QB    Brett Rypien  00-0034955
4180     16  NYJ       QB  Trevor Siemian  00-0032156
14117    17  NYJ       QB    Brett Rypien  00-0034955
4172     17  NYJ       QB  Trevor Siemian  00-0032156
4170     18  NYJ       QB  Trevor Siemian  00-0032156
14107    18  NYJ       QB    Brett Rypien  00-0034955

In [99]:
pbp = pd.read_parquet('./data/outputs/play_by_play_agg/play_by_play_agg.parquet')

In [49]:
pbp['week'] = pbp['game_id'].str.split('_').str[1]

In [54]:
# filter down to active players for each game
active_roster = rosters.loc[rosters['status'] == 'ACT'].copy()

In [55]:
# ensure week is an int
active_roster['week'] = active_roster.week.astype(int, copy=False)

In [47]:
active_roster[['season', 'team', 'position', 'status', 'full_name', 'birth_date', 'height', 'weight', 'gsis_id', 'week', 'game_type', 'entry_year', 'draft_club', 'draft_number']]

,season,team,position,depth_chart_position,jersey_number,status,full_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,year
4,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
5,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
6,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
7,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
8,2023,SEA,OL,T,70.0,ACT,Jason Peters,Jason,Peters,1982-01-22,...,A01,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45538,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023
45539,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023
45540,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023
45541,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023
45542,2023,SEA,DB,CB,21.0,ACT,Devon Witherspoon,Devon,Witherspoon,2000-12-11,...,A01,Devon,WIT143920,55869,32005749-5414-3920-4168-4be52b4fc3cf,2023,2023.0,SEA,5.0,2023

In [6]:
pbp_src = pd.read_parquet('data/inputs/play_by_play/play_by_play_2023.parquet')
for col in pbp_src.columns:
    if 'int' in col:
        print(col)

extra_point_result
two_point_conv_result
extra_point_prob
two_point_conversion_prob
interception
extra_point_attempt
two_point_attempt
interception_player_id
interception_player_name
lateral_interception_player_id
lateral_interception_player_name
defensive_two_point_attempt
defensive_two_point_conv
defensive_extra_point_attempt
defensive_extra_point_conv

In [70]:
pbp_src['injury_flag'] = pbp_src['desc'].str.contains('hurt|injured', case=False, na=False)

In [71]:
injury_plays = pbp_src[pbp_src['injury_flag']]

In [78]:
injury_pattern = r'(?P<team>[A-Z]+)-(?P<number>\d+)-(?P<name>[A-Za-z\'\.\-]+) was hurt on the play'

# Create new columns for team, number, and name by extracting the matching pattern
pbp_src[['injury_team', 'injury_number', 'injury_name']] = pbp_src['desc'].str.extract(injury_pattern)
pbp_src
# Flag rows where an injury was detected
pbp_src['injury_flag'] = pbp_src['injury_team'].notnull()

# Display the rows with detected injuries and the extracted information
injury_plays = pbp_src[pbp_src['injury_flag']][['desc', 'injury_team', 'injury_number', 'injury_name']]

injury_plays

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe,injury_flag,injury_team,injury_number,injury_name
0,1.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
1,39.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
2,55.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,NaN,NaN,NaN,NaN,0.515058,-51.505846,False,NaN,NaN,NaN
3,77.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,3.328642,1.0,0.996628,0.583928,0.661106,33.889407,False,NaN,NaN,NaN
4,102.0,2023_01_ARI_WAS,2023091007,WAS,ARI,REG,1,WAS,home,ARI,...,NaN,NaN,NaN,NaN,0.196065,-19.606467,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49660,4791.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,NaN,NaN,NaN,NaN,0.182589,81.741054,False,NaN,NaN,NaN
49661,4813.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,NaN,NaN,NaN,NaN,0.310144,-31.014398,False,NaN,NaN,NaN
49662,4835.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,6.498790,6.0,0.428395,0.361828,0.600400,39.959973,False,NaN,NaN,NaN
49663,4860.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,0.772520,1.0,0.993362,0.784198,0.623245,37.675518,False,NaN,NaN,NaN
49664,4881.0,2023_22_SF_KC,2024021100,KC,SF,POST,22,KC,home,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN

In [7]:
import pandas as pd

pbp = pd.read_parquet('./data/outputs/play_by_play_agg/play_by_play_agg.parquet')
rosters = pd.read_parquet('./data/outputs/rosters/rosters.parquet')
pbp

,game_id,game_team,home_away,player,player_id,passing_attempts,passing_yards,passing_touchdowns,rushing_attempts,rushing_yards,rushing_touchdowns,receptions,receiving_yards,receiving_touchdowns,fumbles,interceptions,season,week,position,curr_team
0,2020_01_ARI_SF,ARI,away,C.Edmonds,00-0034681,0.0,0.0,0.0,6.0,26.0,0.0,5.0,19.0,1.0,1.0,0.0,2020,1,RB,TB
1,2020_01_ARI_SF,ARI,away,C.Kirk,00-0034775,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,2020,1,WR,JAX
2,2020_01_ARI_SF,ARI,away,C.Streveler,00-0035752,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,QB,NYJ
3,2020_01_ARI_SF,ARI,away,D.Arnold,00-0034011,0.0,0.0,0.0,0.0,0.0,0.0,2.0,21.0,0.0,1.0,0.0,2020,1,TE,PHI
4,2020_01_ARI_SF,ARI,away,D.Hopkins,00-0030564,0.0,0.0,0.0,0.0,0.0,0.0,16.0,151.0,0.0,0.0,0.0,2020,1,WR,TEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22666,2023_22_SF_KC,SF,away,E.Mitchell,00-0036567,0.0,0.0,0.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,2023,22,RB,SF
22667,2023_22_SF_KC,SF,away,G.Kittle,00-0033288,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,2023,22,TE,SF
22668,2023_22_SF_KC,SF,away,J.Jennings,00-0036259,1.0,21.0,1.0,0.0,0.0,0.0,5.0,42.0,1.0,0.0,0.0,2023,22,WR,SF
22669,2023_22_SF_KC,SF,away,K.Juszczyk,00-0029892,0.0,0.0,0.0,1.0,2.0,0.0,2.0,31.0,0.0,0.0,0.0,2023,22,FB,SF
22670,2023_22_SF_KC,SF,away,R.McCloud,00-0034407,0.0,0.0,0.0,0.0,0.0,0.0,1.0,19.0,0.0,0.0,0.0,2023,22,WR,ATL

In [8]:
from src.utils.points_config import STANDARD_HALF_PPR
from src.utils.points_calc import calculate_fantasy_points


pbp['fantasy_points'] = pbp.apply(lambda x: calculate_fantasy_points(STANDARD_HALF_PPR, x.passing_yards, x.passing_touchdowns, x.interceptions, x.receptions, x.receiving_yards, x.receiving_touchdowns, x.rushing_yards, x.rushing_touchdowns, x.fumbles), axis=1)

In [9]:
pbp.sort_values(by='fantasy_points', ascending=False, inplace=True)
pbp

,game_id,game_team,home_away,player,player_id,passing_attempts,passing_yards,passing_touchdowns,rushing_attempts,rushing_yards,...,receptions,receiving_yards,receiving_touchdowns,fumbles,interceptions,season,week,position,curr_team,fantasy_points
4832,2020_16_MIN_NO,NO,home,A.Kamara,00-0033906,0.0,0.0,0.0,22.0,155.0,...,5.0,17.0,0.0,0.0,0.0,2020,16,RB,NO,55.70
13782,2022_09_CAR_CIN,CIN,home,J.Mixon,00-0033897,0.0,0.0,0.0,22.0,153.0,...,5.0,58.0,1.0,0.0,0.0,2022,9,RB,HOU,53.60
3446,2020_12_KC_TB,KC,away,T.Hill,00-0033040,0.0,0.0,0.0,0.0,0.0,...,16.0,269.0,3.0,0.0,0.0,2020,12,WR,MIA,52.90
8744,2021_11_IND_BUF,IND,away,J.Taylor,00-0036223,0.0,0.0,0.0,32.0,185.0,...,4.0,19.0,1.0,0.0,0.0,2021,11,RB,IND,52.40
10559,2021_17_KC_CIN,CIN,home,J.Chase,00-0036900,0.0,0.0,0.0,0.0,0.0,...,14.0,266.0,3.0,0.0,0.0,2021,17,WR,CIN,51.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12004,2022_03_CIN_NYJ,NYJ,home,J.Flacco,00-0026158,56.0,252.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2.0,2022,3,QB,IND,-9.48
7472,2021_07_CHI_TB,CHI,away,J.Fields,00-0036945,36.0,206.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,3.0,2021,7,QB,PIT,-9.94
17050,2023_01_DAL_NYG,NYG,home,D.Jones,00-0035710,35.0,102.0,0.0,5.0,-2.0,...,0.0,0.0,0.0,4.0,2.0,2023,1,QB,NYG,-11.18
6599,2021_04_HOU_BUF,HOU,away,D.Mills,00-0036898,24.0,63.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,4.0,2021,4,QB,HOU,-11.37
10671,2021_17_NYG_CHI,NYG,away,M.Glennon,00-0030520,15.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,2.0,2021,17,QB,MIA,-11.93

In [116]:
merged_df = pbp.merge(
    rosters[['team', 'week', 'season', 'position', 'full_name', 'player_id']],
    left_on=['game_team', 'week', 'season'],
    right_on=['team', 'week', 'season'],
    suffixes=('', '_teammate')
)

In [117]:
merged_df

,game_id,game_team,home_away,player,player_id,passing_attempts,passing_yards,passing_touchdowns,rushing_attempts,rushing_yards,...,receiving_touchdowns,fumbles,season,week,position,curr_team,team,position_teammate,full_name,player_id_teammate
0,2020_01_ARI_SF,ARI,away,C.Edmonds,00-0034681,0.0,0.0,0.0,6.0,26.0,...,1.0,1.0,2020,1,RB,TB,ARI,P,Andy Lee,00-0022824
1,2020_01_ARI_SF,ARI,away,C.Edmonds,00-0034681,0.0,0.0,0.0,6.0,26.0,...,1.0,1.0,2020,1,RB,TB,ARI,WR,Larry Fitzgerald,00-0022921
2,2020_01_ARI_SF,ARI,away,C.Edmonds,00-0034681,0.0,0.0,0.0,6.0,26.0,...,1.0,1.0,2020,1,RB,TB,ARI,DL,Corey Peters,00-0027686
3,2020_01_ARI_SF,ARI,away,C.Edmonds,00-0034681,0.0,0.0,0.0,6.0,26.0,...,1.0,1.0,2020,1,RB,TB,ARI,DB,Patrick Peterson,00-0027943
4,2020_01_ARI_SF,ARI,away,C.Edmonds,00-0034681,0.0,0.0,0.0,6.0,26.0,...,1.0,1.0,2020,1,RB,TB,ARI,LS,Aaron Brewer,00-0028946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088502,2023_22_SF_KC,SF,away,R.McCloud,00-0034407,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2023,22,WR,ATL,SF,K,Jake Moody,00-0038562
1088503,2023_22_SF_KC,SF,away,R.McCloud,00-0034407,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2023,22,WR,ATL,SF,DB,Darrell Luter Jr.,00-0038594
1088504,2023_22_SF_KC,SF,away,R.McCloud,00-0034407,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2023,22,WR,ATL,SF,DL,Robert Beal Jr.,00-0038603
1088505,2023_22_SF_KC,SF,away,R.McCloud,00-0034407,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2023,22,WR,ATL,SF,LB,Dee Winters,00-0038625
1088506,2023_22_SF_KC,SF,away,R.McCloud,00-0034407,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2023,22,WR,ATL,SF,TE,Brayden Willis,00-0038643

In [89]:
print(len(pbp))
print(len(joined))

22671
22671

In [91]:
joined

,game_id,player,player_id,passing_attempts,passing_yards,passing_touchdowns,rushing_attempts,rushing_yards,rushing_touchdowns,receptions,...,status,full_name,birth_date,height,weight,gsis_id,game_type,entry_year,draft_club,draft_number
0,2020_01_ARI_SF,C.Edmonds,00-0034681,0.0,0.0,0.0,6.0,26.0,0.0,5.0,...,ACT,Chase Edmonds,1996-04-13,69.0,210.0,00-0034681,REG,2018.0,ARI,134.0
1,2020_01_ARI_SF,C.Kirk,00-0034775,0.0,0.0,0.0,0.0,0.0,0.0,6.0,...,ACT,Christian Kirk,1996-11-18,71.0,200.0,00-0034775,REG,2018.0,ARI,47.0
2,2020_01_ARI_SF,C.Streveler,00-0035752,0.0,0.0,0.0,1.0,3.0,0.0,0.0,...,ACT,Chris Streveler,1995-01-06,73.0,215.0,00-0035752,REG,2020.0,None,NaN
3,2020_01_ARI_SF,D.Arnold,00-0034011,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,ACT,Dan Arnold,1995-03-15,78.0,220.0,00-0034011,REG,2017.0,None,NaN
4,2020_01_ARI_SF,D.Hopkins,00-0030564,0.0,0.0,0.0,0.0,0.0,0.0,16.0,...,ACT,DeAndre Hopkins,1992-06-06,73.0,212.0,00-0030564,REG,2013.0,HOU,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22666,2023_22_SF_KC,P.Mahomes,00-0033873,49.0,361.0,2.0,3.0,30.0,0.0,0.0,...,ACT,Patrick Mahomes,1995-09-17,74.0,230.0,00-0033873,SB,2017.0,KC,10.0
22667,2023_22_SF_KC,R.James,00-0034286,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,ACT,Richie James,1995-09-05,69.0,185.0,00-0034286,SB,2018.0,SF,240.0
22668,2023_22_SF_KC,R.McCloud,00-0034407,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,ACT,Ray-Ray McCloud,1996-10-15,69.0,190.0,00-0034407,SB,2018.0,BUF,187.0
22669,2023_22_SF_KC,R.Rice,00-0039067,0.0,0.0,0.0,2.0,5.0,0.0,8.0,...,ACT,Rashee Rice,2000-04-22,73.0,203.0,00-0039067,SB,2023.0,KC,55.0
22670,2023_22_SF_KC,T.Kelce,00-0030506,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,ACT,Travis Kelce,1989-10-05,77.0,260.0,00-0030506,SB,2013.0,KC,63.0

In [128]:
from src.utils.points_config import STANDARD_HALF_PPR
from src.utils.points_calc import calculate_fantasy_points


fantasy_points = calculate_fantasy_points(STANDARD_HALF_PPR, 252, 2, 0, 0, 0, 0, 0, 0)
fantasy_points

TypeError: '>=' not supported between instances of 'int' and 'NoneType'

In [1]:
from src.utils.points_config import STANDARD_HALF_PPR
from src.utils.points_calc import calculate_fantasy_points

print(STANDARD_HALF_PPR.qb_yd_bonus_thresh)

fantasy_points = calculate_fantasy_points(STANDARD_HALF_PPR, 252, 2, 0, 0, 0, 0, 0, 0)
fantasy_points

None

10.52